@{
  Layout = "_Layout";
}
  <form method="post" action="/palindrome/show">
  <h2>Palindrome Testing</h2>
    <label for='word'>Enter your word</label>
    <input name='word' id='word' type='text' autofocus required>
      <a href="/" class='linkbutton'>Back to start</a>
    <button type='submit'>Test palindrome</button>
  </form>
