@{
  Layout = "_Layout";
}

<h2>Palindrome Testing</h2>
<p>Your word <span class='standout'>@Model.GetPhrase()</span> is

@if (Model.GetIsPalindrome())
{
    <span class='standout'>not</span>
}
a palindrome. 

  <form action='/Palindrome/new' method='post'>
    <a href="/" class='linkbutton'>Back to start</a>
      <button type='submit'>Play Again</button>
  </form>
