@{
  Layout = "_Layout";
}

<div class="container">
  <form method="post" action="/wordcounter/show">
    <label for='word'>Enter your word</label>
    <input name='word' id='word' type='text'><br/>
    <label for='sentence'>Enter a sentence</label>
    <textarea name='sentence' id='sentence' type='text'></textarea><br />
    <button type='submit'>Count your words</button>
  </form>
  <a href="/">Back to start</a>
</div>