@{
  Layout = "_Layout";
}
<p>Your word @Model.GetWord() was found @Model.counter times in @Model.GetSentence().</p>

  <form action='/WordCounter/new' method='post'>
      <button type='submit'>Play</button>
  </form>
