@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Welcome to the Word Counter Extravaganza</h1>
  <form action='/wordcounter' method='post'>
      <button type='submit'>Play</button>
  </form>
</div>