<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Counter Extravaganza</title>
    <script src="js/scripts.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    @RenderBody()
    @Html.Partial("_Footer")
  </body>
</html>