<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Counter Extravaganza</title>
    <script src="js/scripts.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
      <div class="container">
        <h1>Word Counter Extravaganza</h1>
         @RenderBody()
         <div id="footer" class="slide-left">Your ad goes here!  Email <a href='mailto:tessa.sullivan@gmail.com' id="mailto">Tessa</a> and find out about our low, reasonable rates.</div>
      </div>
  </body>
</html>