.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
html, body {
    height: 100%;
    background-image: -webkit-linear-gradient(bottom, #330099, orange);
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE);
    background: linear-gradient(bottom, #CCCCCC, #EEEEEE);
}
a, h1, form, .standout {
    color: #400080;
}
a:hover {
    color: white;
    text-decoration: none;
}
#mailto {
    color: orange;
}
h1 {
    font-family: fantasy;
    /* text-align: center; */
    margin-top: 25px;
    margin-bottom: 50px;
}
div#footer {
    text-align: center;
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    color:#CCC;
    background: #400080;
    padding:8px;
}

div.slide-left {
  width:100%;
  overflow:hidden;
  animation: slide-left 10s;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
button, .linkbutton {
    background-color: #400080;
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-top: 5px;
}
button {

    border-radius: 12px;
    padding: 6px 18px;
    font-family: fantasy;
    border:white 1px solid;
  }
.linkbutton {
    width: 150px;
    height: 40px;
    border-radius: 12px;
    border:white 1px solid;
    font-family: fantasy;
    text-align: center;
    padding-top: 8px;
    margin-left: 10px;
}
#btn1 {
    top: 50px;
    left: 100px;
    position: relative;
    width: 175px;
    height: 100px;
    font-size: 2em;
}
form {
    margin: auto;
    /* position: relative; */
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}
input {
    width: 375px;
    display: block;
    border: 1px solid #999;
    height: 25px;
}
textarea {
    width: 375px;
    height: 150px;
    display: block;
}
label {
    margin-top: 5px;
    margin-bottom: 0px;  
}
.standout {
    font-family: fantasy;
    font-weight: bold;
}